$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-tertiary: 'Rozha One', serif;

html,
body {
  font-family: $font-primary;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1;
}
