$colors: (
  primary: (
    100: #ffffff,
    200: #e8e8e8,
    300: #2b2b2b,
    400: #141414,
    500: #111111,
  ),
  secondary: (
    100: #f9f9f9,
    200: #dbdbdb,
    300: #acacac,
    400: #555555,
    500: #333333,
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}
