$icons: (facebook, instagram, pinterest, twitter, youtube);

header {
  background: var(--color-primary-100);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  position: relative;
  // padding: 5px 0;

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--color-primary-100);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 400ms ease-in-out;

    li {
      margin-bottom: 1rem;
      margin-left: 1rem;
    }

    a {
      font-size: 0.875rem;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
    }
  }

  .social__networks {
    ul {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }

    li + li {
      margin-left: 2rem;
    }

    a {
      display: block;
      width: 18px;
      height: 18px;
    }
  }

  @each $icon in $icons {
    .icon-#{$icon} {
      background-image: url(../../src/assets/icons/#{$icon}.svg);
    }
  }

  @media screen and (min-width: 850px) {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    padding: 25px 50px;

    .logo__container {
      grid-column: 1;
    }

    nav {
      all: unset;
      grid-column: 2 / 5;

      display: grid;
      grid-template-columns: minmax(500px, 3fr) 1fr;

      ul {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      li {
        margin: 0;
      }

      a {
        opacity: 1;

        &.nav-item::after {
          content: '';
          display: block;
          height: 2px;
          background: var(--color-primary-500);
          bottom: -0.75rem;
          left: 0;
          right: 0;
          transform: scale(0, 1);
          transition: transform ease-in-out 250ms;
        }

        &:hover::after {
          transform: scale(1, 1);
        }
      }

      .social__networks {
        ul {
          all: unset;
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }

        li {
          all: unset;
        }
      }
    }
  }
}

.nav-toggle {
  display: none;

  &:checked ~ nav {
    transform: scale(1, 1);

    a {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;

    span,
    span::before,
    span::after {
      display: block;
      background: var(--color-primary-500);
      height: 2px;
      width: 2em;
      border-radius: 2px;
      position: relative;
    }

    span {
      &::before,
      &::after {
        content: '';
        position: absolute;
      }

      &::before {
        bottom: 7px;
      }

      &::after {
        top: 7px;
      }
    }

    @media screen and (min-width: 850px) {
      display: none;
    }
  }
}
