@use '../base' as *;
@use '../components/buttons';

.main-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--color-primary-500) url(../../src/assets/img/main-img-440x782.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 742px;
  color: var(--color-primary-100);

  &__inner {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 20px;
    row-gap: 1rem;

    h1 {
      font-family: $font-tertiary;
      font-weight: 400;
      font-size: 3.025rem;
      text-align: right;
      text-transform: capitalize;
    }

    p {
      font-family: $font-secondary;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 40px;
      margin-bottom: 45px;
      text-align: right;
      width: 60%;
    }

    button {
      background: transparent;
      color: var(--color-primary-100);
      border-color: var(--color-primary-100);
      border-width: 1px;
      position: relative;
      padding-right: 50px;

      &::after {
        content: '';
        position: absolute;
        right: 30px;
        top: 40%;
        background: var(--color-primary-500) url(../../src/assets/icons/arrow-right.svg);
        display: block;
        width: 14px;
        height: 11px;
      }
    }
  }

  span {
    display: none;
  }

  @media (min-width: 450px) and (max-width: 979.9px) {
    background: var(--color-primary-500) url(../../src/assets/img/main-img-948x948.webp) no-repeat;
    background-size: cover;
    height: 948px;

    &__inner {
      padding-right: 100px;
    }
  }

  @media (min-width: 980px) {
    justify-content: flex-end;
    background: var(--color-primary-500) url(../../src/assets/img/main-img-1920x948.webp);

    &__inner {
      width: 50%;
      align-items: flex-start;

      h1 {
        font-size: 80px;
      }

      p {
        font-size: 1.12rem;
        text-align: left;
        width: 80%;
      }
    }

    span {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 9.5rem;
      line-height: 0.93;
      text-transform: uppercase;
      -webkit-text-stroke: 2px rgba($color: #fff, $alpha: 0.24);
      color: transparent;
    }
  }
}
